<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/stylos.css')}}">
    {% if titulo %}
        <title> {{ titulo }} - Cardinales</title>
    {% else %}
        <title>Operaciones Cardinales</title>
    {% endif %}
</head>
<body>
    <div class="contenido">
        <h2>Escribe El Número Faltante</h2>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>