*{
    
    box-sizing: border-box;
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-family: Verdana, Georgia, 'Geneva', sans-serif;
    font-size: 1dvw;
    color: #fc02f0;
    line-height: 1.4;
    list-style: none;
    h1, h2, h3, h4, h5, h6
    {
        font-family: Verdana, 'Geneva', Tahoma, sans-serif;
    }
    img
    {
        max-width: 100%;
        height: auto;
    }   
    a{
        text-decoration: none;
        color: #000;
    }
}
body
{
    background: #000000;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    main
    {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content:space-evenly;
        margin-top: 2dvh;
        width: 65dvw;
        height: 80dvh;
        text-align: center;
        img
        {
            max-width: 35dvw;
        }
        button
        {
            font-size: 1.5dvw;
            font-weight: bolder;
            background-color: #fc02f0;
            color: #66fc02;
            margin-top: 4dvh;
            width: 14dvw;
            height: 7dvh;
        }
        .info
        {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-evenly;
            width: 65dvw;
            h3
            {
                font-size: 1.5dvw;
                padding: 1dvh 2dvw;
                span
                {
                    color: #66fc02;
                    font-size: 1.5dvw;
                }
            }
        }
    }
}