@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=MedievalSharp&family=Raleway:ital,wght@0,100..900;1,100..900&family=Tangerine:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Electrolize", Verdana, Georgia, 'Geneva', sans-serif;
    font-size: 1dvw;
    color: #333333;
    line-height: 1.4;
    list-style: none;
    h1, h2, h3, h4, h5, h6
    {
        font-family: Verdana, 'Geneva', Tahoma, sans-serif;
    }
    img
    {
        max-width: 100%;
        height: auto;
    }   
    a{
        text-decoration: none;
        color: #000;
    }
}

html
{
    min-height: 100dvh;
    margin: 0;
    padding: 0;
    body
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 99dvw;
        height: 90dvh;
        background-color: #f83c81;
        main
        {
            background-color: #f6e934;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            width: 25dvw;
            border-radius: 1dvw;
            h1 
            {
                font-size: 8dvw;
                color:  #42b3f0;
            }
            p
            {
                border-radius: 0.5dvw;
                font-size: 2dvw;
                font-weight: bolder;
                color: #f6e934;
                background-color: #f83c81;
                padding: 0.5dvh 1dvw;
                margin-bottom: 3dvh;
            }
            button
            {
                border-radius: 0.3dvw;
                width: 10dvw;
                height: 5dvh;
                font-size: 1.3dvw;
                font-weight: bolder;
                margin-bottom: 2dvh;
                background-color: #42b3f0;
                color: #f6e934;
            }
        }
    }
}