<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylos.css">
    <title>{{ titulo }}</title>
</head>
<body>
    <header>
        <h1>Tabla Ascii</h1>
    </header>
    <main>
        {% block body %}
        {% endblock %}
    </main>
    <footer>
        <p>Mysterious Company Inc</p>
        <p>{{ annio }}</p>
    </footer>
</body>
</html>